<style>
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge, and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }
</style>
{% include 'core/base.html' %}
{% block content %}
<div class="flex flex-col md:flex-row justify-around items-center space-x-3 bg-[#00040a] p-4 md:w-screen sticky top-0 z-49">
    <!--Welcome message to ask the user for tasks-->
    <div class="flex flex-col justify-center items-center space-y-2 text-[#b9d1e8]">
        <h1 class="text-2xl font-bold font-mono">Welcome, {{ user.username }}</h1>
        <p>What tasks do you have today?</p>
    </div>
    <!--Add task-->
    <div class="flex flex-col justify-start items-center space-x-2 sm:space-x-4 mt-5 px-2">
        <form action="{% url 'dashboard:create' %}" method="post" class="flex justify-center items-center space-x-2">
            {% csrf_token %}
            <div class="flex flex-row justify-center items-center space-x-2">
                {{ task_form.as_div }}
            <select name="category"
                class="rounded-md p-1 font-light text-[#9abad8] outline-none bg-[#0d1c2a] focus:bg-[#2f5170]" required id="category" onchange="this.style.color='#9abad8'" >
                <option value="" disabled selected>Select a Category</option>
                {% for category in categories %}
                <option value="{{ category.id }}">{{ category.name }}</option>
                {% endfor %}
            </select>
            <!--Submit button-->
            <button type="submit" name="task_form" class="bg-[#0d1c2a] text-[#9abad8] font-normal rounded-md p-1 hover:bg-green-700">
                <svg xmlns="http://www.w3.org/2000/svg"
                    class="h-6 w-6 fill-[#9abad8] hover:text-slate-100 transform hover:scale-110"
                    viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                    <path
                        d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z" />
                </svg>
            </button>
            <button type="reset" class="hidden md:block bg-[#0d1c2a] text-[#9abad8] font-normal rounded-md p-1 w-24">Reset</button>
            <a href="{% url 'dashboard:reset_all' %}"
                class="hidden md:block bg-[#0d1c2a] text-[#9abad8] font-normal rounded-md p-1 w-24 hover:bg-red-900 text-center">Reset
                All</a>
            </div>
        </form>
    </div>
    <!--New Category-->
    <div class="hidden md:flex justify-end items-center space-x-4 mt-5">
        <form action="{% url 'dashboard:new_category' %}" method="post" class="flex items-center space-x-2">
            {% csrf_token %}
            {{ category_form.as_div }}
            <button type="submit" name="category_form" class="bg-[#0d1c2a] text-[#9abad8] font-normal rounded-md p-1 hover:bg-green-700">
                <svg xmlns="http://www.w3.org/2000/svg"
                    class="h-6 w-6 fill-[#9abad8] hover:text-slate-100 transform hover:scale-110"
                    viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                    <path
                        d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z" />
                </svg>
            </button>
            <button type="reset" class="bg-[#0d1c2a] text-[#9abad8] font-normal rounded-md p-1 w-24">Reset</button>
        </form>
    </div>
</div>
<div class="container bg-inherit text-center text-2xl font-bold text-[#9abad8] mx-auto font-sans w-full">
    <div class="flex flex-row overflow-x-auto no-scrollbar space-x-4 mt-5 text-black font-normal px-3 w-full">
        <!--Card-->
        <div class="min-w-full md:min-w-[47vh] col-md-4 rounded-xl border-2 hover:border-[#555f6e61] border-[#4a546330] bg-[#1c212840] hover:bg-[#1c2128] group duration-300">
            <h2 class="my-2 md:mb-5 text-[#88bcce]">To Do's</h2>
            <div class="border-t-2 border-[#3b6674] w-[27vh] mx-auto"></div>
            <p class="text-lg text-slate-500 font-sans mt-2 mb-1">This task hasn't been started yet</p>
            <ul class="list-group h-[49vh] md:h-[60vh] overflow-y-auto px-4 no-scrollbar md:mb-4">
                {% for task in tasks_todo %}
                <li class="my-3 group/item">
                    <div class="relative border-1 border-[#3b6674] bg-[#2d333b40] text-[#9abad8] p-4 rounded-lg hover:bg-[#303a47]">
                        <!--Category-->
                        <div
                            class="border-t-[63px] border-t-[#204e5e] border-r-[72px] border-r-transparent absolute top-0 left-0 rounded-md">
                            <span
                                class="text-xs text-[#9abad8] font-mono font-light transform -rotate-45 absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 pl-20 pb-9">
                                {{ task.category }}
                            </span>
                        </div>
                        <!--Task Title-->
                        <div class="pl-8">
                            <a href=" {% url 'dashboard:in_progress' task.id %}">{{ task.title }}</a>
                        </div>
                        <!--Delete Task-->
                        <a href="{% url 'dashboard:delete' task.id %}"
                            class="fill-[#9abad8] bg-transparent font-bold hover:cursor-pointer hover:block absolute top-3 right-0 p-2 h-full">
                            <svg xmlns="http://www.w3.org/2000/svg"
                                class="hidden group-hover/item:block h-6 w-6 text-[#9abad8] hover:text-slate-100 transform hover:scale-110"
                                viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                                <path
                                    d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z" />
                            </svg>
                        </a>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="min-w-full md:min-w-[47vh] col-md-4 rounded-xl border-2 hover:border-[#555f6e61] border-[#4a546330] bg-[#1c212840] hover:bg-[#1c2128] group duration-300">
            <h2 class="text-[#f9cb55] my-2 md:mb-5">In Progress</h2>
            <div class="border-t-2 border-[#9e7f31] w-[27vh] mx-auto"></div>
            <p class="text-lg text-slate-500 font-sans mt-2 mb-1">This task is currently in progress</p>
            <ul class="list-group h-[49vh] md:h-[60vh] overflow-y-auto px-4 no-scrollbar md:mb-4">
                {% for task in tasks_in_progress %}
                <li class="my-3 group/item">
                    <div class="relative border-1 border-[#3b6674] bg-[#2d333b40] text-[#9abad8] p-4 rounded-lg hover:bg-[#303a47]">
                        <!--Category-->
                        <div class="border-t-[63px] border-t-[#9a8550] border-r-[72px] border-r-transparent absolute top-0 left-0 rounded-md">
                            <span
                                class="text-xs text-[#f0ebdd] font-mono font-light transform -rotate-45 absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 pl-20 pb-9">
                                {{ task.category }}
                            </span>
                        </div>
                        <div class="pl-8">
                            <!--Task Title-->
                            <a href=" {% url 'dashboard:completed' task.id %}">{{ task.title }}</a>
                        </div>
                        <!--Undo Progress-->
                        <a href="{% url 'dashboard:undo_progress' task.id %}"
                            class="fill-[#e2e1d0] bg-transparent font-bold group-hover:cursor-pointer group group-hover:block absolute top-3 right-0 p-2 h-full">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="hidden group-hover/item:block h-6 w-6 fill-[#e2e1d0] hover:text-slate-100 transform hover:scale-110"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path stroke-width="30" d="M75 75L41 41C25.9 25.9 0 36.6 0 57.9V168c0 13.3 10.7 24 24 24H134.1c21.4 0 32.1-25.9 17-41l-30.8-30.8C155 85.5 203 64 256 64c106 0 192 86 192 192s-86 192-192 192c-40.8 0-78.6-12.7-109.7-34.4c-14.5-10.1-34.4-6.6-44.6 7.9s-6.6 34.4 7.9 44.6C151.2 495 201.7 512 256 512c141.4 0 256-114.6 256-256S397.4 0 256 0C185.3 0 121.3 28.7 75 75zm181 53c-13.3 0-24 10.7-24 24V256c0 6.4 2.5 12.5 7 17l72 72c9.4 9.4 24.6 9.4 33.9 0s9.4-24.6 0-33.9l-65-65V152c0-13.3-10.7-24-24-24z"/></svg>

                        </a>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="min-w-full md:min-w-[47vh] col-md-4 rounded-xl border-2 hover:border-[#555f6e61] border-[#4a546330] bg-[#1c212840] hover:bg-[#1c2128] group duration-300">
            <h2 class="text-[#79c267] my-2 md:mb-5">Completed</h2>
            <div class="border-t-2 border-[#205e38] w-[27vh] mx-auto"></div>
            <p class="text-lg text-slate-500 font-sans mt-2 mb-1">This task has been completed today</p>
            <ul class="list-group h-[49vh] md:h-[60vh] overflow-y-auto px-4 no-scrollbar md:mb-4
            ">
                {% for task in tasks_completed %}
                <li class="my-3">
                    <div class="relative border-1 border-[#3b6674] bg-[#2d333b40] text-[#9abad8] p-4 rounded-lg hover:bg-[#303a47]">
                        <!--Category-->
                        <div class="border-t-[63px] border-t-[#205e38] border-r-[72px] border-r-transparent absolute top-0 left-0 rounded-md">
                            <span
                                class="text-xs text-[#d2f7e0] font-mono font-light transform -rotate-45 absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 pl-20 pb-9">
                                {{ task.category }}</span>
                        </div>
                        <!--Task Title-->
                        <div class="pl-8">
                            <a>{{ task.title }}</a>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
<script>
    const colorChange = document.getElementById('color-change');

    colorChange.addEventListener('mouseenter', () => {
        setTimeout(() => {
            colorChange.classList.remove('bg-blue-500');
            colorChange.classList.add('bg-green-500');
        }, 3000);

        setTimeout(() => {
            colorChange.classList.remove('bg-green-500');
            colorChange.classList.add('bg-red-500');
        }, 5000);
    });

    colorChange.addEventListener('mouseleave', () => {
        // Reset color on mouse leave
        colorChange.classList.remove('bg-green-500', 'bg-red-500');
    });
</script>